<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <listeners>
        <listener class-name="com.restassured.demo.listeners.TestListener"/>
    </listeners>
    <test name="Authentication Tests">
        <classes>
            <class name="com.restassured.demo.tests.AuthenticationTest"/>
        </classes>
    </test>
</suite> 